$horizontal-line: 1px solid #dee2e6;
$compare-button: rgb(105, 112, 119);
$compare-hover: rgb(92, 98, 105);
$borders: 1px solid rgb(212, 212, 212);

.compare-button {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  font-weight: 300;
  color: white;
  margin: 0.1rem 0.7rem 0 0.7rem;
  background: $compare-button;
  border-radius: 3px;
  border: none;
}

.compare-button:hover {
  background: $compare-hover;
}

.general-container {
  display: flex;
  justify-content: space-between;
}

.images-container {
  border-bottom: $borders;
}

.image-container {
  width: 17rem;
}

.description-container {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: $borders;
}

.data-container {
  margin: 1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.data-box {
  margin: 0 1rem;
}

.modal-subtitle {
  font-weight: 700;
  margin: 0;
}

.compare-container {
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

.compare-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-text {
  margin: 0;
}
